<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
       <!--不扫秒controller层-->
      <context:component-scan base-package="com.haowaner">
          <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
      </context:component-scan>
      <!--引入配置文件-->
      <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
      <!--配置数据源 使用c3p0的连接池-->
      <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
          <property name="driverClass" value="${jdbc.driver}"></property>
          <property name="jdbcUrl" value="${jdbc.url}"></property>
          <property name="user" value="${jdbc.username}"></property>
          <property name="password" value="${jdbc.password}"></property>
      </bean>
      <!--配置一下事务管理器-->
      <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
          <property name="dataSource" ref="dataSource"></property>
      </bean>
      <!--启动声明式事务驱动 使用注解即可-->
      <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
      <!--配置一下会话工厂-->
      <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
          <!--为会话工厂引入数据源 创建会话-->
          <property name="dataSource" ref="dataSource"></property>
          <!--配置别名-->
          <property name="typeAliasesPackage" value="com.haowaner.domain"></property>
          <!--扫描mybatis映射文件-->
          <property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml"></property>
      </bean>
      <!--配置扫描dao包，动态实现dao接口，注入到spring容器中-->
      <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
          <property name="basePackage" value="com.haowaner.dao"></property>
          <!-- 注意使用 sqlSessionFactoryBeanName 避免出现spring 扫描组件失效问题 -->
          <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
      </bean>
</beans>